{% extends "onlineshop/base.html" %}
{% load static %}
{% block title %}La Pépinière - Panier{% endblock %}
{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rechercher d'un client</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-nom" class="col-form-label">Nom : </label>
            <input type="text" class="form-control" id="recipient-nom">
          </div>
          <div class="mb-3">
            <label for="recipient-prenom" class="col-form-label">Prénom : </label>
            <input type="text" class="form-control" id="recipient-prenom">
          </div>
        </form>
          <div id="result-search-client">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="search-button-modal-client">Recherche</button>
      </div>
    </div>
  </div>
</div>
<h1>Panier</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="text-left">Produit</th>
            <th>Qte</th>
            <th>Prix Unitaire</th>
            <th>Total</th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
    {% for item in cart %}
    {% with produit=item.produit %}
    <tr>
        <td class="align-middle">
            <a class="btn" href="{{ produit.get_absolute_url }}">{{ produit.nom }}</a>
        </td>
        <form class="was-validated" method="post" name="qteForm{{ produit.id }}" id="qteForm{{ produit.id }}" action="{% url 'cart:cart_update' produit.id %}" onSubmit="return checkform({{ produit.stock }}, {{ produit.id }})">
        <td class="align-middle">

                <input type="number" name="qte" value="{{ item.qte }}" min="1" max="{{ produit.stock }}" required id="id-qte-{{ produit.id }}" class="form-control" width="95" style="width:95px;" />
                {% csrf_token %}

                <script>
                    document.getElementById('id-qte-{{ produit.id }}').validity.rangeOverflow;
                </script>

        </td>
        <td class="align-middle">
            <span class="input-symbol-euro">
                <input type="text" name="prix" value="{{ item.prix|floatformat:2 }}" min="0" required id="id-prix-{{ produit.id }}" class="form-control" width="95" style="width:95px;" />
            </span>
            <input type="submit" hidden />
        </td>
        </form>
        <td class="align-middle">{{ item.total|floatformat:'2' }} €</td>
        <td class="align-middle">
            <button type="submit" class="btn" id="editQte{{ produit.id }}"><i class="bi-pencil-square text-warning fs-4"></i></button>
        </td>
        <td class="align-middle">
            <form action="{% url 'cart:cart_remove' produit.id %}" method="POST">
                <button type="submit" class="btn"><i class="bi-trash text-danger fs-4"></i></button>
            {% csrf_token %}
            </form>
        </td>

    </tr>
    <script>
        $(document).ready(function(){
            $("#editQte{{ produit.id }}").click(function() {
                $("#qteForm{{ produit.id }}").submit();
             });
        });
    </script>
    {% endwith %}
    {% endfor %}
    <tr class="table-secondary h5">
        <td colspan="3" class="text-left">Total</td>
        <td colspan="3" class="num">{{ cart.get_total_prix|floatformat:'2' }} €</td>
    </tr>

    </tbody>
</table>
<form method="post" action="{% url 'cart:cart_valid' %}">
<div class="input-group mb-3">
    <a href="{% url 'onlineshop:produit_list' %}" class="btn btn-warning">Continuer les achats </a>
    <!-- <select id="client" name="client" class="form-select">
            <option selected value=>Client</option>
        {% for client in clients %}
            <option value="{{ client.id }}">{{ client.prenom }} {{ client.nom }}</option>
        {% endfor %}
    </select>
    -->
    <input type="hidden" value="" id="client" name="client" />
    <input type="text" value="" id="nom-client-search" name="nom-client-search" class="form-control" disabled/>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Choisir un client</button>
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Créer la commande (Valider le panier)</button>
</div>
    <a href="{% url 'cart:cart_cancel' %}" class="btn btn-outline-danger">Vider le panier ...</a>
</form>
<script>
    function checkform(qte, id)
    {
        var stock = document.getElementById('id-qte-' + id);
        if (stock.value > qte)
        {
            alert('Stock insuffisant (Max : ' + qte + ')');
            return false;
        }
        return true;
    }
    document.querySelector("#search-button-modal-client").addEventListener("click", event => {
        let formData = new FormData();
        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        formData.append('recipient-nom', document.querySelector("#recipient-nom").value);
        formData.append('recipient-prenom', document.querySelector("#recipient-prenom").value);

        const request = new Request('/order/search/client/', {
            method: 'POST',
            body: formData,
            headers: {'X-CSRFToken': csrfTokenValue}
        });
        fetch(request)
        .then(response => response.json())
            .then(result => {
                var clients = result['clients_json'];
                var result_html = "<div class='list-group'>";
                for (var i = 0; i < clients.length; i++){
                    var obj = clients[i];
                    var id = obj['id'];
                    var nom = obj['nom'];
                    var prenom = obj['prenom'];
                    var mail = obj['mail'];
                    result_html += "<a href='#' class='list-group-item list-group-item-action list-group-item-light' onclick=\"add_client('" + id + "', '" + nom + "', '" + prenom + "', '" + mail + "');\" data-bs-dismiss='modal'><i class='bi bi-person'></i> " + nom + " " + prenom + " (" + mail + ")</a>"
                }
                result_html += "</div>"
                document.querySelector("#result-search-client").innerHTML = result_html;
        })
    })

    function add_client(id, nom, prenom, mail) {
        console.log("ID : " + id)
        document.querySelector("#client").value = id;
        document.querySelector("#nom-client-search").value = nom + " " + prenom + " (" + mail + ")";
    };
    </script>
{% endblock %}