{% extends "onlineshop/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}La Pépinière - Commande{% endblock %}
{% block content %}
{% with client=commande.client %}
{% language 'fr' %}
<h1>Commande FA-{{ commande.id }}-{{ commande.date|date:'Y' }}</h1><h4>{{ client.prenom }} {{ client.nom }} du {{ commande.date|date:'d F Y' }}</h4>
{% endlanguage %}
{% endwith %}
<table class="table table-striped table-hover">
        {% if commande.statut.nom == "Annulée" %}
        <thead class="bg-secondary text-black">
        {% elif commande.statut.nom == "Terminée" %}
        <thead class="bg-success text-light">
        {% elif commande.statut.nom == "Validée" %}
        <thead class="bg-primary text-light">
        {% else %}
        <thead class="bg-warning">
        {% endif %}
        <tr>
            <th class="text-left">Produit</th>
            <th>Qte</th>
            <th>Prix Unitaire</th>
            {% if commande.statut.nom == "Annulée" or commande.statut.nom == "Validée" or commande.statut.nom == "Terminée" %}
            <th colspan="3" class="text-end">Total</th>
            {% else %}
            <th class="" colspan="3">Total</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for item in orders %}
    {% with produit=item.produit %}
    <tr>
        <td class="align-middle">
            <a class="btn" href="{{ produit.get_absolute_url }}">{{ produit.nom }}</a>
        </td>
        <form class="was-validated" method="post" name="qteForm{{ item.id }}" id="qteForm{{ item.id }}" action="{% url 'order:order_update_qte_prix' item.id %}" onSubmit="return checkform({{ produit.stock_bis }}, {{ item.id }})">
        <td class="align-middle">
            {% if commande.statut.nom == "Annulée" or commande.statut.nom == "Terminée" %}
                <span class="">{{ item.qte }}</span>
            {% else %}
                <input type="number" name="qte" value="{{ item.qte }}" min="1" max="{{ produit.stock_bis }}" required id="id-qte-{{ item.id }}" class="form-control" width="95" style="width:95px;" />
                {% csrf_token %}
                <input type="number" hidden name="qte_old" value="{{ item.qte }}" id="id-qte-old-{{ item.id }}"/>
                <input type="submit" hidden />
                <script>
                    document.getElementById('id-qte-{{ item.id }}').validity.rangeOverflow;
                </script>
            {% endif %}
        </td>
        <td class="align-middle">
            {% if commande.statut.nom == "Annulée" or commande.statut.nom == "Terminée" %}
                <span class="">{{ item.prix }} €</span>
            {% else %}
            <span class="input-symbol-euro">
                <input type="text" name="prix" value="{{ item.prix|floatformat:'2' }}" min="1" step="1" required id="id-prix-{{ item.id }}" class="form-control" width="95" style="width:95px;" />
            </span>
                {% csrf_token %}
                <input type="submit" hidden />
            {% endif %}
        </td>
        </form>

        {% if commande.statut.nom == "Annulée" or commande.statut.nom == "Terminée" %}
        <td class="align-middle text-end" colspan="3">{{ item.total_line }} €</td>
        {% else %}
        <td class="align-middle">{{ item.total_line }} €</td>
        <td class="align-middle col-1">
            <form action="{% url 'order:order_remove' item.id %}" method="POST">
                <button type="submit" class="btn"><i class="bi-trash text-danger fs-4"></i></button>
                {% csrf_token %}
            </form>
        </td>
        <td class="col-1">
            <button type="submit" class="btn" id="editQte{{ item.id }}"><i class="bi-pencil-square text-warning fs-4"></i></button>
        </td>
        {% endif %}
    </tr>
    <script>
        $(document).ready(function(){
            $("#editQte{{ item.id }}").click(function() {
                $("#qteForm{{ item.id }}").submit();
             });
        });
    </script>
    {% endwith %}
    {% endfor %}
    <tr class="table-dark h5">
        <td colspan="2" class="text-start">Total{% if remise_montant > 0 %} <span class="fs-6 fst-italic">(avant remise)</span>{% endif %}</td>
        <td colspan="4" class="num text-end" id="total_avant_remise">{{ commande.total }} €</td>
    </tr>
    {% if remise_montant > 0 or commande.statut.nom == "En cours" %}
    <tr class="table-secondary h5 align-middle">
        <td colspan="2" class="text-start">Remise</td>
        {% if commande.statut.nom == "Annulée" or commande.statut.nom == "Validée" or commande.statut.nom == "Terminée" %}
        <td class="num text-end">{{ commande.remise }} %</td>
        <td></td>
        {% else %}
        <td colspan=2 class="num text-end">
            <form class="was-validated" method="post" name="remiseForm" id="remiseForm" action="{% url 'order:order_update_remise' commande.id %}">
                <span class="input-symbol-purcent">
                    <input type="text" name="remise" value="{{ commande.remise }}" min="0" max="100" required="" id="remise" class="form-control" width="95" style="width:95px;" />
                </span>
                {% csrf_token %}
                <input type="submit" hidden />
                <script>
                    document.getElementById('remise').validity.rangeOverflow;
                </script>
            </form>
        </td>
        {% endif %}
        <td colspan="2" class="num text-end align-center" id="td_remise_montant">{{ remise_montant|floatformat:2 }} €</td>
    </tr>
    <tr class="table-dark h5">
        <td>Total <span class="fs-6 fst-italic">(après remise)</span></td>
        <td colspan="3" class="text-end">TTC</td>
        <td colspan="2" class="num text-end" id="td_total_post_remise">{{ total_post_remise|floatformat:2 }} €</td>
    </tr>
    {% endif %}
    <tr class="table-secondary">
        <td colspan="4" class="text-end">HT</td>
        <td colspan="2" class="num text-end" id="td_ht_post_remise">{{ total_ht_post_remise|floatformat:2 }} €</td>
    </tr>
    <tr class="table-secondary">
        <td colspan="3" class="text-end">({{ commande.tva }}%)</td>
        <td class="text-end">TVA</td>
        <td colspan="2" class="num text-end" id="td_tva_post_remise">{{ tva_post_remise|floatformat:2 }} €</td>
    </tr>
    {% if frais_id.nom != "Aucun frais" or commande.statut.nom == "En cours" %}
    <tr class="table-secondary h5 align-middle">
        <td colspan="2" class="text-start">
        {% if commande.statut.nom == "Annulée" or commande.statut.nom == "Validée" or commande.statut.nom == "Terminée" %}
            {{ frais_id.nom }}
        {% else %}
            <form>
                <select id="frais"  class="form-select form-select-lg bg-transparent">
                    <!-- <option value="">Frais</option> -->
                    {% for frais in frais_commandes %}
                    <option value="{{ frais.id }}" {% if frais_id.id == frais.id %} selected {% endif %}>{{ frais.nom }} ({{ frais.prix|floatformat:0 }})</option>
                    {% endfor %}
                </select>
            </form>
        {% endif %}
        </td>
        <td colspan="2" class="text-end">TTC</td>
        <td colspan="2" class="num text-end" id="td_prix_frais">
            {% if frais_commande != 0 %} {{ frais_commande|floatformat:2 }} € {% endif %}
        </td>
    </tr>
    <tr class="table-secondary">
        <td colspan="4" class="text-end">HT</td>
        <td colspan="2" class="num text-end" id="td_frais_ht">{% if frais_commande != 0 %} {{ frais_ht|floatformat:2 }} €{% endif %}</td>
    </tr>
    <tr class="table-secondary">
        <td colspan="3" class="text-end" id="td_tva_frais">{% if frais_commande != 0 %} ({{ frais_tva|floatformat:2 }}%) {% endif %}</td>
        <td class="text-end">TVA</td>
        <td colspan="2" class="num text-end" id="td_frais_tva">{% if frais_commande != 0 %} {{ tva_frais|floatformat:2 }} € {% endif %}</td>
    </tr>
    {% endif %}
    <tr class="table-dark h4">
        <td class="text-start">Montant total</td>
        <td class="text-end">Total produits : </td>
        <td class="text-start">{{ order_qte }}</td>
        <td class="text-end">TTC</td>
        <td colspan="2" class="num text-end" id="td_total_global">{{ total_global|floatformat:2 }} €</td>
    </tr>
    <tr class="table-secondary h5">
        <td colspan="3" class="text-start"></td>
        <td class="text-end">TVA</td>
        <td colspan="2" class="num text-end" id="td_total_global_tva">{{ total_global_tva|floatformat:2 }} €</td>
    </tr>
    <tr class="table-secondary h5">
        <td colspan="3" class="text-start"></td>
        <td class="text-end">HT</td>
        <td colspan="2" class="num text-end" id="td_total_global_ht">{{ total_global_ht|floatformat:2 }} €</td>
    </tr>
    </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <!-- SI COMMANDE AUTRE QUE ANNULEE -->
    {% if commande.statut.nom != "Annulée" and commande.statut.nom != "Terminée"  %}
    <form method="post" name="cancel-form-cart" id="cancel-form-cart" action="{% url 'order:order_cancel' commande.id %}">
        <button type="submit" class="btn btn-outline-danger me-md-2">Annuler la commande</button>
        {% csrf_token %}
    </form>
    {% endif %}
    <!-- SI COMMANDE VALIDEE -->
    {% if commande.statut.nom == "Validée" %}
    <form method="post" name="end-form-cart" id="end-form-cart" action="{% url 'order:order_end' commande.id %}">
        <button type="submit" class="btn btn-success me-md-2">Terminer la commande</button>
        {% csrf_token %}
    </form>
    {% endif %}
    <!-- SI COMMANDE EN COURS -->
    {% if commande.statut.nom != "Annulée" and commande.statut.nom != "Validée" and commande.statut.nom != "Terminée" %}
    <form method="post" name="valid-form-cart" id="valid-form-cart" action="{% url 'order:order_valid' commande.id %}">
        <button type="submit" class="btn btn-primary">Valider la commande</button>
        {% csrf_token %}
    </form>
    {% endif %}
    {% if commande.statut.nom == "Validée" or commande.statut.nom == "En cours" %}
        <div class="col-md-auto"><a target="_blank" href="{% url 'order:order_print' commande.id %}?download=1" class="btn btn-warning"><i class="bi bi-clipboard-check"></i> Bon de commande</a></div>
    {% endif %}
    {% if commande.statut.nom == "Terminée" or commande.statut.nom == "Validée"%}
        <div class="col-md-auto"><a target="_blank" href="{% url 'order:order_print' commande.id %}?download=1&mode=1" class="btn btn-warning"><i class="bi bi-clipboard-check"></i> Facture</a></div>
    {% endif %}
</div>
{% if commande.statut.nom == "En cours" %}
<script>

    function virgule(val)
    {
        console.log(typeof(val));
        montant = parseFloat(val).toFixed(2);
        console.log(typeof(montant));
        montant = montant.toString().replace('.',',');
        return montant;
    }

    function checkform(stock_bis, id)
    {
        var qte = document.getElementById('id-qte-'+id);
        var qte_old = document.getElementById('id-qte-old-' + id);
        var diff_qte = qte_old.value - qte.value
        var test_stock = diff_qte + stock_bis
        if (test_stock < 0)
        {
            alert('Stock insuffisant (Max : ' + stock_bis + ')');
            return false;
        }
        return true;
    }

// AJAX > CREATION FORMULAIRE + ENVOI REQUETE POST POUR AJOUT FRAIS DANS LA COMMANDE
    document.querySelector("#frais").addEventListener("change", event => {
        let formData = new FormData();
        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        formData.append('frais', document.querySelector("#frais").value);
        console.log(document.querySelector('#frais').value);
        const request = new Request('/order/updatefrais/{{ commande.id }}', {
            method: 'POST',
            body: formData,
            headers: {'X-CSRFToken': csrfTokenValue}
        });

        fetch(request)
            .then(response => response.json())
                .then(result => {
                    var frais_ht = parseFloat(result['frais_ht']).toFixed(2);
                    var tva_montant_frais = parseFloat(result['tva_montant_frais']).toFixed(2);
                    var total_post_remise = document.querySelector('#td_total_post_remise').innerText;
                    total_post_remise = parseFloat(total_post_remise.replace(",",".")).toFixed(2);
                    var total_global = (parseFloat(total_post_remise) + parseFloat(result['prix_frais'])).toFixed(2);
                    var total_global_tva = (parseFloat(tva_montant_frais) + parseFloat(result['tva_montant_global'])).toFixed(2);
                    var total_global_ht = (parseFloat(total_global) - parseFloat(total_global_tva)).toFixed(2);

                    document.querySelector('#td_prix_frais').innerHTML = result['prix_frais'].replace(".",",")+' €';
                    document.querySelector('#td_tva_frais').innerHTML = '('+result['tva_frais'].replace(".",",")+'%)';
                    document.querySelector('#td_frais_ht').innerHTML = frais_ht.replace(".",",")+' €';
                    document.querySelector('#td_frais_tva').innerHTML = tva_montant_frais.replace(".",",")+' €';
                    document.querySelector('#td_total_global').innerHTML = total_global.replace(".",",")+' €';
                    document.querySelector('#td_total_global_tva').innerHTML = total_global_tva.replace(".",",")+' €';
                    document.querySelector('#td_total_global_ht').innerHTML = total_global_ht.replace(".",",")+' €';
                })
    })

// AJAX > CREATION FORMULAIRE + ENVOI REQUETE POST POUR MODIF TAUX REMISE DANS LA COMMANDE
    document.querySelector("#remise").addEventListener("change", event => {
        let formData = new FormData();
        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        formData.append('remise', document.querySelector("#remise").value);

        const request = new Request('/order/updateremise/{{ commande.id }}', {
            method: 'POST',
            body: formData,
            headers: {'X-CSRFToken': csrfTokenValue}
        });

        fetch(request)
            .then(response => response.json())
                .then(result => {
                    var total = parseFloat(document.querySelector('#total_avant_remise').innerText).toFixed(2);
                    var remise_montant = (total * parseFloat(result['remise_taux']) / 100).toFixed(2);
                    var total_post_remise = parseFloat(total) - parseFloat(remise_montant);
                    var ht_post_remise = (total_post_remise / 1.1).toFixed(2);
                    var tva_post_remise = (total_post_remise - ht_post_remise).toFixed(2);
                    var frais = document.querySelector('#td_prix_frais').innerText
                    var frais_tva = document.querySelector('#td_frais_tva').innerText;
                    var frais_ht = document.querySelector('#td_frais_ht').innerText;
                    var total_global = total_post_remise;
                    if (frais.length > 0) {
                        total_global += parseFloat(frais);
                    }
                    if (frais.length > 0) {
                        frais_tva = frais_tva.replace(",",".");
                        frais_tva = frais_tva.replace("€","");
                        frais_tva = parseFloat(frais_tva).toFixed(2);

                        frais_ht = frais_ht.replace(",",".");
                        frais_ht = frais_ht.replace("€","");
                        frais_ht = parseFloat(frais_ht).toFixed(2);
                     } else {
                        frais_tva = 0;
                        frais_ht = 0;
                     }

                    var total_global_tva = parseFloat(frais_tva) + parseFloat(tva_post_remise);
                    var total_global_ht = parseFloat(frais_ht) + parseFloat(ht_post_remise);
                    document.querySelector('#remise').value = virgule(parseFloat(result['remise_taux']));
                    document.querySelector('#td_remise_montant').innerHTML = virgule(remise_montant)+' €';
                    document.querySelector('#td_total_post_remise').innerHTML = virgule(total_post_remise) + ' €';
                    document.querySelector('#td_ht_post_remise').innerHTML = ht_post_remise.replace(".",",")+' €';
                    document.querySelector('#td_tva_post_remise').innerHTML = tva_post_remise.replace(".",",") + ' €';
                    document.querySelector('#td_total_global').innerHTML = total_global.toFixed(2).replace(".",",") +' €';
                    document.querySelector('#td_total_global_tva').innerHTML = total_global_tva.toFixed(2).replace(".",",") +' €';
                    document.querySelector('#td_total_global_ht').innerHTML = total_global_ht.toFixed(2).replace(".",",") +' €';
                })
    })
</script>
{% endif %}
{% endblock %}