<script>
 function reset_Field(field1, field2) {
    document.getElementById(field1).value= "";
    document.getElementById(field2).value= "";
 }
</script>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rechercher d'un client</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            {% csrf_token %}
          <div class="mb-3">
            <label for="recipient-nom" class="col-form-label">Nom : </label>
            <input type="text" class="form-control" id="recipient-nom">
          </div>
          <div class="mb-3">
            <label for="recipient-prenom" class="col-form-label">Prénom : </label>
            <input type="text" class="form-control" id="recipient-prenom">
          </div>
        </form>
          <div id="result-search-client">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="search-button-modal-client">Recherche</button>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12 detail-separator">
    <form class="form-horizontal" action="" method="post" accept-charset="utf-8">
        <div class="row align-items-center">
            <h2 class="col-11">Recherche</h2>
            <span role="button" class="rounded-pill col-1 text-center cursor-pointer" id="search-button">
                <i class="fs-1 bi-plus" id="plus-icon"></i>
            </span>
        </div>
        <hr style="" id="hr-form">

      <div class="row g-2" style="display:none" id="search-form">
        <div class="col-md mb-3">
            <!--
            <select id="client_request" name="client_request" class="form-select form-select-lg my-3">
                    <option selected value="">Client</option>
                {% for clt in clients %}
                    <option value="{{ clt.id }}" {% if client_cmd.id == clt.id %} selected {% endif %}>{{ clt.prenom }} {{ clt.nom }}</option>
                {% endfor %}
            </select>
            -->
            <input type="hidden" value="{{ client_cmd.id }}" id="client_request" name="client_request" />
            <div class="input-group input-group-lg flex-nowrap my-3">
                <input type="text" {% if client_cmd.id %} value="{{ client_cmd.nom }} {{ client_cmd.prenom }}" {% else %} value="" {% endif %} id="nom-client-search" name="nom-client-search" class="form-control" disabled data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" placeholder="Cliquer pour rechercher un client" />
                <span style="cursor:pointer;" class="input-group-text" onclick="reset_Field('nom-client-search','client_request');">X</span>
            </div>
            {% csrf_token %}

            <div class="input-group input-group-lg flex-nowrap my-3">
                <input class="form-control" type="date" name="date_after" value="{{ date_after }}" />
                <span class="input-group-text">Commandes passées après le : </span>
            </div>
            <div class="input-group input-group-lg flex-nowrap my-3">
                <span class="input-group-text">Commandes passées avant le : </span>
                <input class="form-control" type="date" name="date_before" value="{{ date_before }}" />
            </div>
            <div class="input-group input-group-lg flex-nowrap my-3">
                <span class="input-group-text">Statut :</span>
                <select class="form-select" name="statut">
                  <option value="All">Tous les statuts</option>
                    {% for st in statuts %}
                    <option value="{{ st.id }}" {% if statut_request == st.id %} selected {% endif %}>{{ st.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group input-group-lg flex-nowrap">
                <span class="input-group-text">Variété :</span>
                <select class="form-select" name="variete">
                  <option value="All">Toutes les variétés</option>
                    {% for variete in varietes_list %}
                    <option value="{{ variete.id }}" {% if variete_request == variete.id %} selected {% endif %}>{{ variete.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-grid gap-2 my-3">
                <input type="submit" class="btn btn-lg btn-primary" value="LANCER LA RECHERCHE" />
            </div>
        </div>
      </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('#search-form').hide();
        $('#hr-form').show();
        $('#search-button').click(function() {
            $('#search-form').toggle("slow");
            $('#plus-icon').toggleClass("bi-plus-circle bi-dash-circle", "slow")
            $('#hr-form').toggle("slow");
        });
    });

    document.querySelector("#search-button-modal-client").addEventListener("click", event => {
        let formData = new FormData();
        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        formData.append('recipient-nom', document.querySelector("#recipient-nom").value);
        formData.append('recipient-prenom', document.querySelector("#recipient-prenom").value);

        const request = new Request('/order/search/client/', {
            method: 'POST',
            body: formData,
            headers: {'X-CSRFToken': csrfTokenValue}
        });
        fetch(request)
        .then(response => response.json())
            .then(result => {
                var clients = result['clients_json'];
                var result_html = "<div class='list-group'>";
                for (var i = 0; i < clients.length; i++){
                    var obj = clients[i];
                    var id = obj['id'];
                    var nom = obj['nom'];
                    var prenom = obj['prenom'];
                    var mail = obj['mail'];
                    result_html += "<a href='#' class='list-group-item list-group-item-action list-group-item-light' onclick=\"add_client('" + id + "', '" + nom + "', '" + prenom + "', '" + mail + "');\" data-bs-dismiss='modal'><i class='bi bi-person'></i> " + nom + " " + prenom + " (" + mail + ")</a>"
                }
                result_html += "</div>"
                document.querySelector("#result-search-client").innerHTML = result_html;
        })
    })

    function add_client(id, nom, prenom, mail) {
        console.log("ID : " + id)
        document.querySelector("#client_request").value = id;
        document.querySelector("#nom-client-search").value = nom + " " + prenom + " (" + mail + ")";
    };
</script>