{% extends "layout/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Administration Produits{% endblock %}
{% block content %}
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-primary bg-opacity-50 text-black">
                <div class="row align-items-center">
                    <h5 class="col-8 h4 mb-0">Gestion des produits</h5>
                </div>
            </div>
            <div class="card-body py-2">
                <div class="list-group">
                    <a href="{% url 'onlineshop:manage-produit' %}"><button type="button" class="list-group-item list-group-item-action">Gérer les Produits</button></a>
                    <a href="{% url 'onlineshop:manage-data' 'espece' %}"><button type="button" class="list-group-item list-group-item-action">Gérer les Espèces</button></a>
                    <a href="{% url 'onlineshop:manage-data' 'variete' %}"><button type="button" class="list-group-item list-group-item-action">Gérer les Variétés</button></a>
                    <a href="{% url 'onlineshop:manage-data' 'portegreffe' %}"><button type="button" class="list-group-item list-group-item-action">Gérer les Porte-Greffes</button></a>
                    <a href="{% url 'onlineshop:manage-data' 'spec' %}"><button type="button" class="list-group-item list-group-item-action">Gérer les Spécialités</button></a>
                    <a href="{% url 'onlineshop:warning-produit' %}"><button type="button" class="list-group-item list-group-item-action">Gérer les Anomalies</button></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-primary bg-opacity-50 text-black">
                <div class="row align-items-center">
                    <h5 class="col-8 h4 mb-0">Gestion des Greffons</h5>
                </div>
            </div>
            <div class="card-body py-2">
                <div class="list-group">
                    <a href="{% url 'onlineshop:manage-greffons' %}"><button type="button" class="list-group-item list-group-item-action">Gérer les Greffons</button></a>
                    <a href="{% url 'onlineshop:manage-couleurs' %}"><button type="button" class="list-group-item list-group-item-action">Gérer les Couleurs</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-primary bg-opacity-50 text-black">
                <div class="row align-items-center">
                    <h5 class="col-8 h4 mb-0">Import / Export Excel</h5>
                </div>
            </div>
            <div class="card-body py-2">
                <div class="list-group">
                    <span class="list-group-item bg-primary-light">DATA MAPPING</span>
                    <a href="{% url 'onlineshop:data-mapping' %}"><button type="button" class="list-group-item list-group-item-action">Gérer le mapping pour l'import/export</button></a>
                    <span class="list-group-item bg-primary-light">EXPORTS</span>
                    <a href="{% url 'onlineshop:export-produits-xls' %}"><button type="button" class="list-group-item list-group-item-action">Exporter les Produits/Greffons/Especes/...</button></a>
                    <span class="list-group-item bg-primary-light">IMPORTS</span>
                    <a href="{% url 'onlineshop:import-produits-xls' %}"><button type="button" class="list-group-item list-group-item-action">Importer les Produits/Greffons/Especes/...</button></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-danger bg-opacity-75 text-light">
                <div class="row align-items-center">
                    <h5 class="col-8 h4 mb-0">Réinitialisation des Stocks</h5>
                </div>
            </div>
            <div class="card-body py-2">
                <div class="list-group">
                    <a href="{% url 'onlineshop:reset-stock' %}"><button type="button" class="list-group-item list-group-item-action">Remettre à Zero les stocks <span class="bx-pull-right"> <i class="bi bi-exclamation-triangle"></i> Action immédiate <i class="bi bi-exclamation-triangle"></i></span></button></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-warning bg-opacity-75 text-dark">
                <div class="row align-items-center">
                    <h5 class="col-8 h4 mb-0">Graphiques</h5>
                </div>
            </div>
            <div class="card-body py-2">
                <div class="list-group">
                    <a href="#"><button type="button" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#myGraph">Stock par produit (lié à au moins une commande)</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myGraph" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Evolution des stocks</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    Choisissez un produit :
                    {{ form.nom }}
                </form>
                <canvas id="myChart"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('#id_nom').change(function() {
            console.log($('#id_nom').val())
            var url = "{% url 'logApp:show-line' 'XXX' %}"
            var myChart;
            url = url.replace("XXX", $('#id_nom').val())
            var all_data;
            $.getJSON(url, function (all_data) {
                console.log(all_data.chart);
                if (all_data.status == true) {
                    const config = {
                        type: 'line',
                        data: all_data.chart,
                        options: {
                            responsive: true,
                            plugins: {
                                tooltip: {
                                    mode: 'index',
                                    intersect: false
                                },
                            },
                            scales: {
                                x: {
                                    title: {
                                        display: true,
                                        text: 'Log'
                                    }
                                },
                                y: {
                                    title: {
                                        display: true,
                                        text: 'Stock'
                                    },
                                    ticks: {
                                        stepSize: 1
                                    }
                                }
                            }
                        }
                    };
                    let chartStatus = Chart.getChart("myChart"); // <canvas> id
                    if (chartStatus != undefined) {
                      chartStatus.destroy();
                    }
                    myChart = new Chart(
                        document.getElementById('myChart'),
                        config
                    );
                }
            });
        });
    });
    // const data = $.getJSON("http://localhost:8000{% url 'logApp:show-line' produit=1228 %}");



</script>
{% endblock %}