{% extends "layout/base.html" %}
{% load static %}
{% block title %}La Pépinière - {% if espece %}{{ espece.nom }}{% else %}Produits{% endif %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row fs-4">
        <div class="col"><strong>Espece</strong> : {{ produit.espece }}</div><div class="col"><strong>Prix</strong> : {{ produit.prix }} €</div>
    </div>
    <div class="row fs-4">
        <div class="col"><strong>Variété</strong> : {{ produit.variete }}</div><div class="col"><strong>Stock</strong> : {{ produit.stock_bis }} unités</div>
    </div>
    <div class="row fs-4">
        <div class="col"><strong>Porte-Greffe</strong> : {{ produit.portegreffe }}</div>
    </div>
    <p></p>
    <form action="{% url 'cart:cart-add' produit.id %}" method="POST">
        <div class="input-group mb-3">
            <label for="qte" class="input-group-text">Qte</label>
            <input type="number" name="qte" value="1" min="1" required="" id="qte" class="form-control" />
            <input type="hidden" name="override" value="False" id="id_override" />
            {% csrf_token %}


            <button type="submit" value="" class="btn btn-success">Ajouter au panier</button>
        </div>
    </form>
    <p>{{ produit.description|linebreaks }}</p>
</div>
{% endblock %}