{% load static %}
{% load my_templatetag %}
{% block content %}
<div class="row" style="margin:10px 0;">
    <div class="col"><strong>QUI</strong></div>
    <div class="col"><strong>DATE</strong></div>
    <div class="col"><strong>ACTION</strong></div>
    <div class="col"><strong>CHAMP</strong></div>
    <div class="col"><strong>OLD</strong></div>
    <div class="col"><strong>NEW</strong></div>
</div>
{% for log in logs %}
<div class="row">
    <div class="col">{{ log.user }}</div>
    <div class="col">{{ log.date }}</div>
    <div class="col">{{ log.action }}</div>
    <div class="col">{{ log.field }}</div>
    <div class="col">{{ log.old_value }}</div>
    <div class="col">{{ log.new_value }}</div>
</div>
{% endfor %}
{% endblock %}