{% extends "layout/base.html" %}
{% load static %}
{% load i18n %}
{% load calcul_produit %}
{% block title %}Administration - Produits{% endblock %}
{% block content %}
{% include 'onlineshop/search.html' %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-primary bg-opacity-50 text-black">
                <div class="row align-items-center">
                    <h5 class="col-1 text-start mb-0">
                        <a class="bx-pull-left" href="{{ previous_page}}">
                            <button class="btn btn-secondary" type="button">Retour</button>
                        </a>
                    </h5>
                    <h5 class="col-8 h3 mb-0">Gestion des Produits</h5>
                    <h5 class="col-3 text-end mb-0">
                        <a class="bx-pull-right" href="{% url 'onlineshop:add-produit' %}">
                            <button class="btn btn-success" type="button"><i class="bi bi-plus me-1"></i> Nouveau</button>
                        </a>
                    </h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row bg-dark text-light align-items-center py-2 border-bottom">
                    {% if query_string %}
                    <div class="col-3">PRODUITS</div>
                    <div class="col-1"><a class="link-warning" href="?{{ query_string }}&p=espece">ESPECES</a></div>
                    <div class="col-2"><a class="link-warning" href="?{{ query_string }}&p=variete">VARIETES</a></div>
                    <div class="col-1"><a class="link-warning" href="?{{ query_string }}&p=portegreffe">P-G</a></div>
                    <div class="col-1"><a class="link-warning" href="?{{ query_string }}&p=total">TOTAL COMMANDE</a></div>
                    <div class="col-1"><a class="link-warning" href="?{{ query_string }}&p=-stock">STOCK <br/>FINAL</a></div>
                    <div class="col-1"><a class="link-warning" href="?{{ query_string }}&p=-stock_bis">STOCK EN COURS</a></div>
                    <div class="col-1"><a class="link-warning" href="?{{ query_string }}&p=-stock_future">STOCK FUTURE</a></div>
                    <div class="col-1"></div>
                    {% else %}
                    <div class="col-3">PRODUITS</div>
                    <div class="col-1"><a class="link-warning" href="?p=espece">ESPECES</a></div>
                    <div class="col-2"><a class="link-warning" href="?p=variete">VARIETES</a></div>
                    <div class="col-1"><a class="link-warning" href="?p=portegreffe">P-G</a></div>
                    <div class="col-1"><a class="link-warning" href="?p=total">TOTAL COMMANDE</a></div>
                    <div class="col-1"><a class="link-warning" href="?p=-stock">STOCK <br/>FINAL</a></div>
                    <div class="col-1"><a class="link-warning" href="?p=-stock_bis">STOCK EN COURS</a></div>
                    <div class="col-1"><a class="link-warning" href="?p=-stock_future">STOCK FUTURE</a></div>
                    <div class="col-1"></div>
                    {% endif %}
                </div>
                {% for produit in produits %}
                <div class="row align-items-center py-2 {% if not forloop.last %}border-bottom{% endif %} {% if produit.gaf == True %}bg-primary bg-opacity-25{% endif %}">
                    <div class="col-3">{{ produit.nom }}</div>
                    <div class="col-1">{{ produit.espece.nom }}</div>
                    <div class="col-2">{{ produit.variete.nom }}</div>
                    <div class="col-1">{{ produit.portegreffe.nom }}</div>
                    <div class="col-1"><span class="text-warning">{{ produit|total_qte_encours }}</span> - <span class="text-primary">{{ produit|total_qte_validee }}</span> - <span class="text-success">{{ produit|total_qte_terminee }}</span> - <span class="text-danger">{{ produit|total_qte_annulee }}</span></div>
                    <div class="col-1"><input id="stock_{{ produit.id }}" name="stock_{{ produit.id }}" class="form-control" type="number" min="0" value="{{ produit.stock }}" /></div>
                    <div class="col-1"><input id="stock_bis_{{ produit.id }}" name="stock_bis_{{ produit.id }}" class="form-control" type="number" min="0" value="{{ produit.stock_bis }}" /></div>
                    <div class="col-1"><input id="stock_future_{{ produit.id }}" name="stock_future_{{ produit.id }}" class="form-control" type="number" min="0" value="{{ produit.stock_future }}" /></div>
                    <div class="col-1 text-end">
                        <button onclick="delete_this_produit({{ produit.id }},'{{ produit.nom }}')" class="btn btn-danger btn-sm" type="button"><i class="bi bi-trash"></i></button>
                        <a href="{% url 'onlineshop:edit-produit' produit.id %}"><button class="btn btn-warning btn-sm" type="button"><i class="bi bi-pencil"></i></button></a>
                        <button id="edit-stock-button" name="edit-stock-button" data-code="{{ produit.id }}" class="btn btn-success btn-sm edit-stock-button" type="button"><i class="bi bi-check"></i></button>
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-12 d-grid gap-2 my-2">
                    <a href="{{ previous_page }}" class="d-grid gap-2">
                        <button type="button" class="btn btn-secondary">RETOUR</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL DE SUPPRESSION DE L'ESPECE ----------------------------------------------------------------------------------->
<div class="modal modal-danger fade in" id="modal-delete-produit" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h4 class="modal-title">Supprimer cette {{ categorie }} ?</h4>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body" id="delete-produit-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a href="" id="button-delete-produit">
                    <button type="button" class="btn btn-danger">Supprimer</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% if paginate %}
    <div class="clearfix"></div>
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
        {% if produits.has_previous %}
            {% if GET_params %}
                <li class="page-item"><a href="?{{GET_params.urlencode}}&amp;page={{ produits.previous_page_number }}" class="page-link"><<</a></li>
            {% else %}
                <li class="page-item"><a href="?page={{ produits.previous_page_number }}" class="page-link"><<</a></li>
            {% endif %}
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><<</a></li>
        {% endif %}
        {% if produits.number|add:'-4' > 1 %}
            {% if GET_params %}
                <li class="page-item"><a class="page-link" href="?{{GET_params.urlencode}}&amp;page={{ produits.number|add:'-5' }}{{ getvars }}">...</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ produits.number|add:'-5' }}{{ getvars }}">...</a></li>
            {% endif %}
        {% endif %}
        {% for i in produits.paginator.page_range %}
            {% if produits.number == i %}
                <li class="page-item active"><span class="page-link" href="#">{{ i }}</span></li>
            {% elif i > produits.number|add:'-5' and i < produits.number|add:'10' %}
                {% if GET_params %}
                    <li class="page-item"><a href="?{{GET_params.urlencode}}&amp;page={{ i }}" class="page-link">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if produits.has_next %}
            {% if GET_params %}
                <li class="page-item"><a href="?{{GET_params.urlencode}}&amp;page={{ produits.next_page_number }}" class="page-link">>></a></li>
            {% else %}
                <li class="page-item"><a href="?page={{ produits.next_page_number }}" class="page-link">>></a></li>
            {% endif %}
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">>></a></li>
        {% endif %}
        </ul>
    </nav>
{% endif %}
    {% block scripts %}
        <script>

            function delete_this_produit(produit_id, nom) {
                var url = "{% url 'onlineshop:delete-produit' 'XXX' %}"
                var html;
                html = "Cela va supprimer le produit : <strong>" + nom + "</strong>"
                console.log(nom)
                url = url.replace('XXX', produit_id);
                $('#modal-delete-produit').modal('toggle');
                $('#delete-produit-body').html(html);
                $('#button-delete-produit').attr('href',url);
            }

            $(document).ready(function(){
                $('.edit-stock-button').click(function() {

                    var code = $(this).attr("data-code");
                    var stock_id = $("#stock_" + code);
                    var stock_bis_id = $("#stock_bis_" + code);
                    var stock_future_id = $("#stock_future_" + code);
                    var stock = $(stock_id).val();
                    var stock_bis = $(stock_bis_id).val();
                    var stock_future = $(stock_future_id).val();
                    console.log(code, stock, stock_bis, stock_future)
                    launchJquery(code, stock, stock_bis, stock_future);

                    $('#textErrorMessageAjax').text("Mise à jour des stocks effectuée avec succès !");
                    $('#errorMessageAjax').addClass('show');
                    $('#errorMessageAjax').removeClass('hide');
                    $('#errorMessageAjax').css("display","block");
                    function hideMsg () {
                        $('#errorMessageAjax').fadeOut();
                        $('#errorMessageAjax').removeClass('show');
                        $('#errorMessageAjax').addClass('hide');
                        $('#errorMessageAjax').css("display","none");
                    }
                    setTimeout(hideMsg,5000);
                })

                function launchJquery(code, stock, stock_bis, stock_future) {
                    $.post("{% url 'onlineshop:edit-stock-produit' %}",
                        {
                            json_data: JSON.stringify({
                                produit_id: code,
                                stock: stock,
                                stock_bis: stock_bis,
                                stock_future: stock_future,
                            })
                        },
                        function (data, status) {

                        });
                }
            })
        </script>
    {% endblock %}
{% endblock %}