{% extends "layout/base.html" %}
{% load static %}
{% load i18n %}
{% load mathfilters %}
{% load my_templatetag %}
{% load calcul_order %}
{% block title %}Commande{% endblock %}
{% block content %}
{% with client=commande.client %}
{% language 'fr' %}
<div class="row">
    <div class="col-7">
        <h1>{% if commande.statut.nom == "Pré-commande" %}Pré-commande{% else %}Commande{% endif %} FA-{{ commande.id }}-{{ commande.date|date:'Y' }}</h1>
        <h4>{{ commande.client.prenom }} {{ commande.client.nom }} du {{ commande.date|date:'d F Y' }}</h4>
    </div>
    {% if commande.statut.nom != "Annulée" and commande.statut.nom != "Terminée" and commande.statut.nom != "En attente" and user|is_staff%}
    <div class="col-5 align-middle pt-3">
        <button type="button" class="btn btn-primary bx-pull-right btn-lg" onclick="add_product_order('{{ commande.id }}')">Ajouter un produit</button>
    </div>
    {% else %}
    <div class="col-5"></div>
    {% endif %}


</div>
{% endlanguage %}
{% endwith %}
<!-- HEADER TABLE --------------------------------------------------------------------->
<div class="{% if commande.statut.nom == 'Annulée' %}border-secondary{% endif %}{% if commande.statut.nom == 'Terminée' %}border-success{% endif %}{% if commande.statut.nom == 'Validée' %}border-primary{% endif %}{% if commande.statut.nom == 'En cours' %}border-warning{% endif %}{% if commande.statut.nom == 'Pré-commande' %}border-info{% endif %}{% if commande.statut.nom == 'En attente' %}border-warning{% endif %} border-3 border">
<div class="row align-items-center fw-bold g-0 {% if commande.statut.nom == 'Annulée' %}bg-secondary text-black{% endif %}{% if commande.statut.nom == 'Terminée' %}bg-success text-light{% endif %}{% if commande.statut.nom == 'Validée' %}bg-primary text-light{% endif %}{% if commande.statut.nom == 'En cours' %}bg-warning text-black{% endif %}{% if commande.statut.nom == 'Pré-commande' %}bg-info text-black{% endif %}{% if commande.statut.nom == 'En attente' %}bg-warning text-black{% endif %}">
    <div class="py-2 ps-3 col-4">PRODUIT</div>
    <div class="py-2 col-2 text-start">QUANTITE</div>
    <div class="py-2 col-2 text-end">PU (TTC)</div>
    <div class="py-2 pe-3 col-3 text-end">TOTAL</div>
    <div class="py-2 col-1"></div>
</div>
<!-- PRODUCTS LIST --------------------------------------------------------------------->
{% for produit in produits %}
<form class="" method="post" name="qteForm{{ produit.produit.id }}" id="qteForm{{ produit.produit.id }}" action="{% url 'order:order-update-qte-prix' produit.id %}">
<div class="row g-0 align-items-center {% if not forloop.last %}border-bottom{% endif %}  {% cycle 'bg-transparent' 'bg-secondary bg-opacity-25' as rowcolors %}" id="{{ rowcolors }}">
    <div class="py-2 col-4 align-middle" >
        <a class="btn" href="{% url 'onlineshop:produit-detail' produit.produit.id %}">{{ produit.produit.nom }}</a>
    </div>
    <div class="py-2 col-2 align-middle">
        {% if commande.statut.nom == "Annulée" or commande.statut.nom == "Terminée" or commande.statut.nom == "En attente" or user|is_staff == False %}
        <div class="py-2">{{ produit.qte }}</div>
        {% else %}
        <div class="">
            <input type="number" name="qte" value="{{ produit.qte }}" min="1" max="{% if request.user|mode_admin %}}9999{% else %}{{ produit.produit.stock_bis }}{% endif %}" required id="id-qte-{{ produit.id }}" class="form-control" width="95" style="width:95px;" />
        </div>
        {% csrf_token %}
        <input type="number" hidden name="qte_old" value="{{ produit.qte }}" id="id-qte-old-{{ produit.id }}"/>
        <input type="submit" hidden />
        <script>
            // document.getElementById('id-qte-{{ produit.id }}').validity.rangeOverflow;
        </script>
        {% endif %}
    </div>
    <div class="py-2 col-2 align-middle text-end">
        {% if commande.statut.nom == "Annulée" or commande.statut.nom == "Terminée" or commande.statut.nom == "En attente" or user|is_staff == False %}
        <div class="py-2">{{ produit.prix }} €</div>
        {% else %}
        <div class="text-end bx-pull-right input-group">
            <input type="text" name="prix" value="{{ produit.prix|floatformat:'2' }}" min="1" step="1" required id="id-prix-{{ produit.id }}" class="form-control text-end" width="95" style="width:95px;" />
            <span class="input-group-text">€</span>
        </div>
        {% csrf_token %}
        <input type="submit" hidden />
        {% endif %}
    </div>
    <div class="py-3 pe-3 col-3 align-middle text-end" style="height:54px !important;">{{ produit.prix|mul:produit.qte }} €</div>
    <div class="py-2 col-1 text-center align-middle">
        {% if user|is_staff and commande.statut.nom != "Annulée" and commande.statut.nom != "Terminée" and commande.statut.nom != "En attente" %}
        <button onclick="delete_this_product('{{ produit.id }}', '{{ produit.produit.nom }}');" type="button" class="btn btn-danger px-1 py-0 mx-1"><i class="bi-trash float-start"></i></button>
        <button type="submit" class="btn btn-warning py-0 px-1" id="editQte{{ produit.id }}"><i class="bi-pencil-square"></i></button>
        {% endif %}
    </div>
</div>
</form>
{% endfor %}

<!-- TOTAL AVANT REMISE TABLE --------------------------------------------------------------------->
<div class="row text-light align-items-center g-0 bg-dark ">
    <div class="py-2 col-8 align-middle ps-3">TOTAL {% if commande.statut.nom != "Annulée" and commande.statut.nom != "Terminée" and commande.statut.nom != "En attente" and commande.remise > 0 %}(AVANT REMISE){% endif %}  </div>
    <div class="py-2 col-3 align-middle text-end pe-3">{{ commande.id|total_order }} €</div>
    <div class="col-1"></div>
</div>
{% if commande.remise > 0 and user|is_staff == False %}
<!-- REMISE  -------------------------------------------------------------------------------------->
{% if commande.statut.nom != "Annulée" or commande.statut.nom != "Terminée" and commande.montant_frais > 0 or commande.statut.nom == "En attente" %}
<form class="" method="post" name="remiseForm" id="remiseForm" action="{% url 'order:order-update-remise' commande.id %}">
<div class="row align-items-center g-0 bg-opacity-10 bg-success ">
    <div class="col-6 align-middle text-start py-3 ps-3">Remise</div>
    <div class="col-2 align-middle py-2 pe-3">
        {% if commande.statut.nom == "Annulée" or commande.statut.nom == "Terminée" or commande.statut.nom == "En attente" or user|is_staff == False %}
        <div class="text-end">{{ commande.remise }} %</div>
        {% else %}
        <div class="input-group">
            <input type="text" name="remise" value="{{ commande.remise }}" min="0" max="100" required="" id="remise" class="form-control text-end" width="95" style="width:95px;" />
            <div class="input-group-text">%</div>
        </div>
        {% csrf_token %}
        <input type="submit" hidden />
        <script>
            document.getElementById('remise').validity.rangeOverflow;
        </script>
        {% endif %}
    </div>
    <div class="py-3 col-3 align-middle text-end pe-3">{{ commande.id|remise_order|floatformat:2 }} €</div>
    <div class="col-1 text-center">
        {% if commande.statut.nom != "Annulée" and commande.statut.nom != "Terminée" and commande.statut.nom != "En attente" and request.user|is_staff %}
            <button type="submit" class="btn btn-warning py-0 px-1" id="editRemise"><i class="bi-pencil-square"></i></button>
        {% endif %}
    </div>
</div>
</form>

<!-- TOTAL APRES REMISE TABLE --------------------------------------------------------------------->
<div class="row bg-dark text-light align-items-center g-0">
    <div class="py-2 col-7 align-middle ps-3">TOTAL (APRES REMISE)</div>
    <div class="py-2 col-1 align-middle text-end">TTC</div>
    <div class="py-2 col-3 align-middle text-end pe-3">{{ commande.id|total_post_remise|floatformat:2 }} €</div>
    <div class="col-1"></div>
</div>
{% endif %}
    {% endif %}
<!-- TOTAL HT ------------------------------------------------------------------------------------->
<div class="row bg-opacity-10 bg-danger align-items-center g-0">
    <div class="py-2 col-8 align-middle text-end ps-3">HT</div>
    <div class="py-2 col-3 align-middle text-end pe-3">{{ commande.id|total_ht|floatformat:2 }} €</div>
    <div class="col-1"></div>
</div>

<!-- TVA ------------------------------------------------------------------------------------------>
<div class="row align-items-center g-0 bg-opacity-10 bg-warning">
    <div class="py-2 col-7 align-middle text-end ps-3">({{ commande.tva.tva }} %)</div>
    <div class="py-2 col-1 align-middle text-end">TVA</div>
    <div class="py-2 col-3 align-middle text-end pe-3">{{ commande.id|total_tva|floatformat:2 }} €</div>
    <div class="col-1"></div>
</div>
<!-- FRAIS ------------------------------------------------------------------------------------------>
{% if commande.statut.nom != "Annulée" and commande.statut.nom != "Terminée" and commande.statut.nom == "En attente" and commande.montant_frais > 0 %}
<form class="" method="post" name="fraisForm" id="fraisForm" action="{% url 'order:order-update-frais' commande.id %}">
<div class="row align-items-center py-2 g-0">
    <div class="col-7 align-middle text-start ps-3">
        {% if commande.statut.nom == "Annulée" or commande.statut.nom == "Terminée" or commande.statut.nom == "En attente" or user|is_staff == False %}
            {{ commande.frais.nom }}
        {% else %}
        <select id="frais" class="form-select bg-transparent" name="frais_type">
            <option value="">Aucun frais</option>
            {% for item in frais %}
            <option value="{{ item.id }}" {% if item.id == commande.frais.id %} selected {% endif %}>{{ item.nom }} (TVA : {{ item.tva.tva|floatformat:0 }}%)</option>
            {% endfor %}
        </select>
        {% endif %}
    </div>
    <div class="col-1 align-middle text-end">TTC</div>
    <div class="col-3 align-middle text-end pe-3">
        {% if commande.statut.nom != "Annulée" and commande.statut.nom != "Terminée" and commande.statut.nom != "En attente" and user|is_staff %}
            <div class="input-group">
                <input type="text" name="fraisMontant" value="{{ commande.montant_frais }}" min="0" id="fraisMontant" class="form-control text-end" width="95" style="width:95px;" aria-label="Montant des frais" />
                <span class="input-group-text">€</span>
                {% csrf_token %}
                <input type="submit" hidden />
            </div>
        {% else %}
            {{ commande.montant_frais }} €
        {% endif %}
    </div>
    <div class="col-1 text-center">
        {% if commande.statut.nom != "Annulée" and commande.statut.nom != "Terminée" and commande.statut.nom != "En attente" and request.user|is_staff %}
            <button type="submit" class="btn bg-warning py-0 px-1" id="editFrais"><i class="bi-pencil-square"></i></button>
        {% endif %}
    </div>
</div>
</form>

<!-- FRAIS HT ------------------------------------------------------------------------------------------>
<div class="row align-items-center g-0 bg-opacity-10 bg-danger">
    <div class="py-2 col-8 align-middle text-end ps-3">HT</div>
    <div class="py-2 col-3 align-middle text-end pe-3">{{ commande.id|frais_ht|floatformat:2 }} €</div>
    <div class="col-1"></div>
</div>

<!-- FRAIS TVA ------------------------------------------------------------------------------------------>
<div class="row align-items-center g-0 bg-opacity-10 bg-warning ">
    <div class="py-2 col-7 align-middle text-end ps-3">({{ commande.frais.tva.tva|floatformat:2 }} %)</div>
    <div class="py-2 col-1 align-middle text-end">TVA</div>
    <div class="py-2 col-3 align-middle text-end pe-3">{{ commande.id|frais_tva|floatformat:2 }} €</div>
    <div class="col-1"></div>
</div>
{% endif %}

<!-- MONTANT TOTAL -------------------------------------------------------------------------------------->
<div class="row align-items-center g-0 bg-dark text-light">
    <div class="py-2 col-7 align-middle text-start ps-3">MONTANT TOTAL ({{ commande.id|qte_order }} produits)</div>
    <div class="py-2 col-1 align-middle text-end">TTC : </div>
    <div class="py-2 col-3 align-middle text-end pe-3">{{ commande.id|total_global_ttc|floatformat:2 }} €</div>
    <div class="col-1"></div>
</div>

<!-- MONTANT TOTAL HT ----------------------------------------------------------------------------------->
<div class="row align-items-center g-0 bg-opacity-10 bg-danger">
    <div class="py-2 col-8 align-middle text-end ps-3">HT</div>
    <div class="py-2 col-3 align-middle text-end pe-3">{{ commande.id|total_global_ht|floatformat:2 }} €</div>
    <div class="col-1"></div>
</div>

<!-- MONTANT TOTAL TVA ---------------------------------------------------------------------------------->
<div class="row align-items-center g-0 bg-opacity-10 bg-warning ">
    <div class="py-2 col-8 align-middle text-end ps-3">TVA</div>
    <div class="py-2 col-3 align-middle text-end pe-3">{{ commande.id|total_global_tva|floatformat:2 }} €</div>
    <div class="col-1"></div>
</div>
</div>
<br/>
<div class="row">
        <div class="col-2"><a href="{% url 'order:order-list' %}" class="btn btn-secondary"> Retour </a></div>
        <div class="col-10 px-1">
<!-- SI COMMANDE AUTRE QUE PRE COMMANDE >> RENDRE POSSIBLE LA CREATION D'UNE PRE COMMANDE A PARTIR D'UNE COMMANDE -->
        {% if commande.statut.nom != "Pré-commande" and request.user|is_staff %}
            <button onclick="create_pre_order('{{ commande.id }}');" type="button" class="btn btn-info me-md-2 bx-pull-right">Créer une pré-commande</button>
        {% endif %}
<!-- PERMET D'ANNULER UNE COMMANDE SAUF SI DEJA ANNULEE OU TERMINEE -->
        {% if commande.statut.nom != "Annulée" and commande.statut.nom != "Terminée" and request.user|is_staff  %}
            <button onclick="cancel_this_order('{{ commande.id }}');" type="button" class="btn btn-danger me-md-2 bx-pull-right">Annuler la commande</button>
        {% endif %}
        {% if commande.statut.nom == "En attente" and request.user|is_staff == False %}
            <button onclick="cancel_this_order_user('{{ commande.id }}');" type="button" class="btn btn-danger me-md-2 bx-pull-right">Annuler la commande</button>
        {% endif %}
<!-- PERMET DE TERMINER UNE COMANDE SI STATUT VALIDEE -->
        {% if commande.statut.nom == "Validée" and request.user|is_staff %}
            <button onclick="end_this_order('{{ commande.id }}');" type="button" class="btn btn-success me-md-2 bx-pull-right">Terminer la commande</button>
        {% endif %}
<!-- PERMET DE VALIDER UNE COMMANDE SI EN COURS UNIQUEMENT -->
        {% if commande.statut.nom == "En cours" and request.user|is_staff %}
            <button onclick="valid_this_order('{{ commande.id }}');" type="button" class="btn btn-primary bx-pull-right">Valider la commande</button>
        {% endif %}
<!-- PERMET DE CREER LA COMMANDE A PARTIR D'UNE PRECOMMANDE -->
        {% if commande.statut.nom == "Pré-commande" and request.user|is_staff %}
            <button onclick="pre_valid_this_order('{{ commande.id }}');" type="button" class="btn btn-info bx-pull-right">Créer la commande</button>
        {% endif %}
<!-- PERMET D'ACCEPETER LA COMMANDE A PARTIR D'UNE COMMANDE EN ATTENTE -->
        {% if commande.statut.nom == "En attente" and request.user|is_staff %}
            <button onclick="accept_this_order('{{ commande.id }}');" type="button" class="btn btn-success bx-pull-right">Accepter la commande</button>
        {% endif %}

<!-- POUR IMPRIMER LE BON DE COMMANDE -->
        {% if request.user|is_staff and commande.statut.nom == "Validée" or commande.statut.nom == "En cours" %}
            <div class="col-md-auto bx-pull-right"><a target="_blank" href="{% url 'order:order-print' commande.id %}?download=1" class="btn btn-warning"><i class="bi bi-clipboard-check"></i> Bon de commande</a></div>
        {% endif %}
<!-- POUR IMPRIMER LA FACTURE -->
        {% if commande.statut.nom == "Terminée" or commande.statut.nom == "Validée" %}
            <div class="col-md-auto bx-pull-right"><a target="_blank" href="{% url 'order:order-print' commande.id %}?download=1&mode=1" class="btn btn-success"><i class="bi bi-clipboard-check"></i> Facture</a></div>
        {% endif %}
<!-- POUR IMPRIMER LE DEVIS -->
        {% if commande.statut.nom == "Pré-commande" %}
            <div class="col-md-auto bx-pull-right"><a target="_blank" href="{% url 'order:order-print' commande.id %}?download=1&mode=3" class="btn btn-info"><i class="bi bi-clipboard-check"></i> Devis</a></div>
        {% endif %}
        </div>
</div>
<div class="modal modal-danger fade in" id="modal" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <h4 class="modal-title" id="modal-title">Créer la commande ?</h4>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary bx-pull-left" data-bs-dismiss="modal">Annuler</button>
                <a href="" id="modal-a">
                    <button type="button" class="btn btn-success bx-pull-right" id="modal-button">Créer</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-primary fade in" id="modal-add-product" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-light">
                <h4 class="modal-title">Ajouter un produit à la commande</h4>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <form action="{% url 'order:add-produit-order' commande.id False %}" method="POST">
            <div class="modal-body" id="body-add-product" style="overflow:hidden;">
                {{ form.produit.label }}
                {{ form.produit }}
                {{ form.prix.label }}
                {{ form.prix }}
                {{ form.qte.label }}
                {{ form.qte }}
                {% csrf_token %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary bx-pull-left" data-bs-dismiss="modal">Annuler</button>
                <a href="" id="button-add-product">
                    <button type="submit" class="btn btn-success">Ajouter</button>
                </a>
            </div>
            </form>
        </div>
    </div>
</div>
<script>
function virgule(val)
{
    montant = parseFloat(val).toFixed(2);
    montant = montant.toString().replace('.',',');
    return montant;
}

function checkform(stock_bis, id)
{
    var qte = document.getElementById('id-qte-'+id);
    var qte_old = document.getElementById('id-qte-old-' + id);
    var diff_qte = qte_old.value - qte.value
    var test_stock = diff_qte + stock_bis
    if (test_stock < 0)
    {
        alert('Stock insuffisant (Max : ' + stock_bis + ')');
        return false;
    }
    return true;
}
function delete_this_product(product_id, nom) {
    var url = "{% url 'order:order-product-remove' 'XXX' %}"
    var html;
    html = "Cela va supprimer le produit suivant de la commande : <strong>" + nom + "</strong><br/>Cela remettra les stocks à jour pour le produit supprimé."
    url = url.replace('XXX', product_id);
    $('#modal').modal('toggle');
    $('#modal-body').html(html);
    $('#modal-a').attr('href',url);
    $('#modal-header').addClass('bg-danger text-light');
    $('#modal-title').text("Supprimer un produit");
    $('#modal-button').text("Supprimer");
}

function cancel_this_order_user(commande_id) {
    var url = "{% url 'order:order-cancel' 'XXX' %}"
    var html;
    html = "Cela va annuler votre commande !"
    url = url.replace('XXX', commande_id);
    $('#modal').modal('toggle');
    $('#modal-body').html(html);
    $('#modal-a').attr('href',url);
    $('#modal-header').addClass('bg-danger text-light');
    $('#modal-title').text("Annuler la commande");
    $('#modal-button').text("Valider");
}

function cancel_this_order(commande_id) {
    var url = "{% url 'order:order-cancel' 'XXX' %}"
    var html;
    html = "Cela va annuler la commande !<br>Les stocks seront mis à jour en conséquence."
    url = url.replace('XXX', commande_id);
    $('#modal').modal('toggle');
    $('#modal-body').html(html);
    $('#modal-a').attr('href',url);
    $('#modal-header').addClass('bg-danger text-light');
    $('#modal-title').text("Annuler la commande");
    $('#modal-button').text("Valider");
}

function create_pre_order(commande_id) {
    var url = "{% url 'order:pre-order-create' 'XXX' %}"
    var html;
    html = "Cela va créer une pré-commande à partir de la commande séléctionnée !<br>Seul le stock futur sera impacté."
    url = url.replace('XXX', commande_id);
    $('#modal').modal('toggle');
    $('#modal-body').html(html);
    $('#modal-a').attr('href',url);
    $('#modal-header').addClass('bg-info text-light');
    $('#modal-title').text("Créer une pré-commande");
    $('#modal-button').text("Créer");
}

function valid_this_order(commande_id) {
    var url = "{% url 'order:order-valid' 'XXX' %}"
    var html;
    html = "Cela va valider la commande ! (Edition toujours possible)"
    url = url.replace('XXX', commande_id);
    $('#modal').modal('toggle');
    $('#modal-body').html(html);
    $('#modal-a').attr('href',url);
    $('#modal-header').addClass('bg-primary text-light');
    $('#modal-title').text("Valider la commande");
    $('#modal-button').text("Valider");
}

function pre_valid_this_order(commande_id) {
    var url = "{% url 'order:order-pre-valid' 'XXX' %}"
    var html;
    html = "Cela va créer une commande à partir de la pré-commande (changement de statut)"
    url = url.replace('XXX', commande_id);
    $('#modal').modal('toggle');
    $('#modal-body').html(html);
    $('#modal-a').attr('href',url);
    $('#modal-header').addClass('bg-info text-light');
    $('#modal-title').text("Créer la commande");
    $('#modal-button').text("Créer");
}

function accept_this_order(commande_id) {
    var url = "{% url 'order:order-accept' 'XXX' %}"
    var html;
    html = "Cela va accepter la commande en attente et passer le statut de celle-ci en \"En cours\""
    url = url.replace('XXX', commande_id);
    $('#modal').modal('toggle');
    $('#modal-body').html(html);
    $('#modal-a').attr('href',url);
    $('#modal-header').addClass('bg-info text-light');
    $('#modal-title').text("Créer la commande");
    $('#modal-button').text("Créer");
}

function end_this_order(commande_id) {
    var url = "{% url 'order:order-end' 'XXX' %}"
    var html;
    html = "Cela va terminer la commande ... Elle ne pourra plus être modifiée par la suite !"
    url = url.replace('XXX', commande_id);
    $('#modal').modal('toggle');
    $('#modal-body').html(html);
    $('#modal-a').attr('href',url);
    $('#modal-header').addClass('bg-success text-light');
    $('#modal-title').text("Terminer la commande");
    $('#modal-button').text("Terminer");
}

function add_product_order(order_id) {
    $('#modal-add-product').modal('toggle');
}
$(document).ready(function() {
    $('#id_produit').select2({
        dropdownParent: $('#id_produit').parent()
    });
    $('#id_produit').removeAttr('tabindex');
    $.fn.modal.Constructor.prototype._enforceFocus = function() {};

});
</script>
{% endblock %}