{% extends "layout/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Administration - Commandes{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header py-2 border-bottom border-primary">
        <div class="row align-items-center">
            <div class="col-md-auto h3 mb-0">Valider toutes les commandes</div>
            <div class="col">
                <a class="bx-pull-right" href="{% url previous_page %}">
                    <button class="btn btn-secondary" type="button">Retour</button>
                </a>
            </div>
        </div>
    </div>
    <div class=" card-body mt-3">
        <form class="form-horizontal" action="{% url formAction %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
            <div class="row g-2">
                <div class="col mb-2">
                    Commandes concernées : {{ commandes|length }}
                </div>
            </div>
            <div class="row g-2">
                <div class="col mb-2">
                    <label class="label">{{ form.inventaire.label }}</label>
                    {{ form.inventaire }}
                </div>
            </div>
            <div class="row g-2">
                <div class="col mb-2">
                    <label class="label">{{ form.mode.label }}</label>
                    {{ form.mode }}
                </div>
            </div>
            <div class="row g-2">
                <div class="d-grid gap-2 my-3">
                    <input type="submit" value="VALIDER" class="btn btn-primary" id="search-btn"/>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}