{% extends "layout/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Administration - Client{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header py-2 border-bottom border-primary">
        <div class="row align-items-center">
            <div class="col-md-auto h3 mb-0">{% if client %}Modifier un Client{% else %}Ajouter un Client{% endif %}</div>
            <div class="col">
                <a class="bx-pull-right" href="{{ previous_page}}">
                    <button class="btn btn-secondary" type="button">Retour</button>
                </a>
            </div>
        </div>
    </div>
    <div class=" card-body mt-3">
        <form class="form-horizontal" action="{% if client %}{% url 'order:edit-client' client_id %}{% else %}{% url 'order:add-client' %}{% endif %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
            <div class="row g-2">
                <div class="col-6 mb-2 input-group">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text col-12 ">{{ form.prenom.label }}</span>
                    </div>
                    {{ form.prenom }}
                </div>
            </div>
            <div class="row g-2">
                <div class="col-6 mb-2 input-group">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text col-12">{{ form.nom.label }}</span>
                    </div>
                    {{ form.nom }}
                </div>
            </div>
            <div class="row g-2">
                <div class="col-6 mb-2 input-group">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text col-12">{{ form.societe.label }}</span>
                    </div>
                    {{ form.societe }}
                </div>
            </div>
            <div class="row g-2">
                <div class="col mb-2 input-group">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text">{{ form.adresse.label }}</span>
                    </div>
                    {{ form.adresse }}
                </div>
            </div>
            <div class="row g-2">
                <div class="col-6 mb-2 input-group">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text">{{ form.cp.label }}</span>
                    </div>
                    {{ form.cp }}
                </div>
            </div>
            <div class="row g-2">
                <div class="col-6 mb-2 input-group">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text">{{ form.ville.label }}</span>
                    </div>
                    {{ form.ville }}
                </div>
            </div>
            <div class="row g-2">
                <div class="col-6 mb-2 input-group">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text">{{ form.tel.label }}</span>
                    </div>
                    {{ form.tel }}
                </div>
            </div>
            <div class="row g-2">
                <div class="col mb-2 input-group">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text">{{ form.mail.label }}</span>
                    </div>
                    {{ form.mail }}
                </div>
            </div>
            <div class="row g-2">
                <div class="col-6 mb-2 input-group">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text">{{ form.remise.label }}</span>
                    </div>
                    {{ form.remise }}
                    <span class="input-group-text">%</span>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-6 mb-2 input-group">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text">{{ form.commentaire.label }}</span>
                    </div>
                    {{ form.commentaire }}
                </div>
            </div>
            <div class="row g-2">
                <div class="col-6 mb-2 input-group">
                    <div class="input-group-prepend col-2">
                        <span class="input-group-text">{{ form.user.label }}</span>
                    </div>
                    {{ form.user }}
                </div>
            </div>
            <div class="row g-2">
                <div class="d-grid gap-2 my-3 col-6">
                    <input type="submit" value="{% if client %}MODIFIER{% else %}AJOUTER{% endif %}" class="btn btn-primary" id="add-btn"/>
                </div>
                <div class="d-grid gap-2 my-3 col-6">
                    <a type="button" href="{{ previous_page }}" class="btn btn-secondary" id="cancel-btn">ANNULER</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}