{% extends "layout/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Administration - Import données{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'order:import-order-xls' %}" class="form-horizontal" method="post" accept-charset="utf-8" enctype="multipart/form-data" id="import-produit-form">
                    <div class="card-header bg-primary bg-opacity-50 text-black">
                        <div class="row align-items-center">
                            <h5 class="col-8 h3 mb-0">Importer les données</h5>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="row g-2">
                        <div class="col d-grid gap-2 py-2">
                            <div class="input-group">
                                  <span class="input-group-text" id="basic-addon3">Catégorie</span>
                                <select class="form-control js-example-basic-single" name="categorie">
                                    <option value="">Choisir une catégorie</option>
                                    <option value="COMMANDES">Commandes</option>
                                    <option value="CLIENTS">Clients</option>
                                    <option value="USERS">Users</option>
                                    <option value="PRODUITS">Produits Commandes</option>
                                    <option value="TVA">Tva</option>
                                    <option value="STATUT">Status</option>
                                    <option value="FRAIS">Frais</option>
                                    <option value="INVENTAIRES">Inventaires</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <input type="file" name="myfile" class="form-control" required="" accept=".csv">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="popover" title="Fichier Excel" data-bs-html="true" data-bs-content="Import du fichier excel exporté dans l'outil pour écraser les données existantes !"><i class="bi bi-info-circle" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-sm-6 d-grid gap-2">
                            <a href="{{ previous_page }}" class="d-grid gap-2">
                                <button type="button" class="btn btn-secondary">RETOUR</button>
                            </a>
                        </div>
                        <div class="col-sm-6 d-grid gap-2">
                            <button type="submit" value="IMPORTER" class="btn btn-primary" id="search-btn" onclick="unhideloader();">IMPORTER</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-danger fade in" id="modalImportProduit" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h4 class="modal-title">Importer le fichier</h4>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body" id="import-produit-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a href="" id="button-import-produit">
                    <button type="button" class="btn btn-danger" onclick="confirm_import_produit()">Importer</button>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    function confirm_import_produit() {
        $('#import-produit-form').submit();
    }

    function unhideloader() {
        document.getElementById("loading").style.display = "block";
    }
</script>
{% endblock %}