{% extends 'layout/base.html' %}
{% load static %}
{% load total_order %}
{% block content %}
{% include 'order/search.html' %}
<div class="nav justify-content-between align-center">
    <div class="h3">Liste des commandes</div>
    <div class="h3" id="qty-find-order">{{ orders_list|length }} commandes</div>
</div>
<div class="centered">
    <table class="table border-collapse">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">DATE</th>
        <th scope="col">STATUT</th>
        <th scope="col">CLIENT</th>
        <th scope="col">QTE</th>
        <th scope="col">TOTAL</th>
        <th scope="col"></th>
    </thead>
        {% for order in orders %}
        <tr class="align-middle {% if order.statut.nom == 'Annulée' %}table-secondary{% elif order.statut.nom == 'Terminée' %}table-success{% elif order.statut.nom == 'Validée' %}table-primary{% elif order.statut.nom == 'Pré-commande' %}table-info else %}table-warning{% endif %}">
            <td class="align-middle">FA-{{ order.id }}-{{ order.date|date:'Y' }}</td>
            <td class="align-middle">{{ order.date|date:'d F Y @ H:i' }}</td>
            <td class="align-middle">{{ order.statut.nom }}</td>
            <td class="align-middle">{{ order.client.prenom }} {{ order.client.nom }}</td>
            <td class="align-middle">{{ order.qte_item }}</td>
            <td class="align-middle">{{ order.id|total_order|floatformat:"2" }} €</td>
            <td class="d-flex justify-content-end">
                {% if order.statut.nom == "En cours" %}
                <a target="_blank" href="{% url 'order:order-print' order.id %}?download=1&mode=2" class="btn btn-warning mx-1"><i class="bi bi-clipboard-check"></i> Bon de Commande</a>
                {% elif order.statut.nom == "Terminée" or order.statut.nom == "Validée" %}
                <a target="_blank" href="{% url 'order:order-print' order.id %}?download=1&mode=1" class="btn btn-success mx-1"><i class="bi bi-clipboard-check"></i> Facture</a>
                {% elif order.statut.nom == "Pré-commande" %}
                <a target="_blank" href="{% url 'order:order-print' order.id %}?download=1&mode=3" class="btn btn-info mx-1"><i class="bi bi-clipboard-check"></i> Devis</a>
                {% endif %}
                <a href="{% url 'order:order-detail' order.id %}" class="btn btn-primary mx-1">Detail</a>
            </td>
        {% endfor %}
    </table>
</div>
{% if orders|length_is:"0" %}
<div class="text-center">
    Aucune commande !
</div>
{% endif %}
{% if paginate %}
<div class="clearfix"></div>
<nav aria-label="...">
<ul class="pagination justify-content-center">
    {% if orders.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ orders.previous_page_number }}{{ getvars }}"><<</a></li>
    {% else %}
        <li class="page-item disabled"><a class="page-link" href="#"><<</a></li>
    {% endif %}
    {% if orders.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ orders.number|add:'-5' }}{{ getvars }}">...</a></li>
    {% endif %}
    {% for i in orders.paginator.page_range %}
        {% if orders.number == i %}
            <li class="page-item active"><span class="page-link" href="#">{{ i }}</span></li>
        {% elif i > orders.number|add:'-5' and i < orders.number|add:'10' %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}{{ getvars }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    <!-- <span class="current">{{ commandes.number }} / {{ commandes.paginator.num_pages }}</span>-->
    {% if orders.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ orders.next_page_number }}{{ getvars }}">>></a></li>
    {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">>></a></li>
    {% endif %}
</ul>
</nav>
{% endif %}
{% endblock %}
