<div class="col-lg-12 detail-separator pb-4">
    <form class="form-horizontal" action="/produit/" method="post" accept-charset="utf-8">
        <h2>Recherche</h2>
    <div class="row g-2">
        <div class="col-md">
            <select id="espece" name="espece" class="form-select form-select-lg my-3">
                {% if espece %}
                    <option value="">Aucune espece</option>
                {% else %}
                    <option selected value=>({{ especes|length }}) Espece</option>
                {% endif %}
                {% for esp in especes %}
                    <option value="{{ esp.slug }}" {% if espece and espece == esp %} selected {% endif %}>{{ esp.nom }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md">
            <select id="variete" name="variete" class="form-select form-select-lg my-3">
            {% if variete %}
                <option value="">Aucune variete</option>
            {% else %}
                <option selected value=>({{ varietes|length }}) Variete</option>
            {% endif %}

            {% for vte in varietes %}
                <option value="{{ vte.slug }}" {% if variete and variete == vte %} selected {% endif %}>{{ vte.nom }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-md">
                <select id="portegreffe" name="portegreffe" class="form-select form-select-lg my-3">
                {% if portegreffe %}
                    <option value="">Aucun porte greffe</option>
                {% else %}
                    <option selected value=>({{ portegreffes|length }}) Porte Greffe</option>
                {% endif %}
                {% for pg in portegreffes %}
                    <option value="{{ pg.slug }}" {% if portegreffe and portegreffe == pg %} selected {% endif %}>{{ pg.nom }}</option>
                {% endfor %}
                </select>
        </div>
        <div class="col-md">
                <select id="spec" name="spec" class="form-select form-select-lg my-3">
                {% if spec %}
                    <option value="">Aucun porte greffe</option>
                {% else %}
                    <option selected value=>({{ specs|length }}) Specialité</option>
                {% endif %}
                {% for sp in specs %}
                    <option value="{{ sp.slug }}" {% if spec and spec == sp %} selected {% endif %}>{{ sp.nom }}</option>
                {% endfor %}
                </select>
        </div>
    </div>
        {% csrf_token %}
    <div class="row">
        {% if request.user.is_authenticated %}
        <div class="col-md-4">
            <div class="form-check form-switch">
                <input type="checkbox" {% if stock_bool is True %} checked {% endif %} value="True" name="stock_bool" id="stock_bool" class="form-check-input" />
                <label class="form-check-label" for="stock_bool">En stock uniquement ?</label>
            </div>
        </div>
        {% else %}
        <div class="col-md-4">
        </div>
        {% endif %}
        <div class="col-md offset-md-7">
            <input type="submit" value="GO" class="btn btn-warning" />
        </div>
    </div>

    </form>
</div>