<div class="col-lg-12 detail-separator">
    <form class="form-horizontal" action="" method="get" accept-charset="utf-8">
        <h2>Recherche</h2>
      <div class="row g-2">
        <div class="col-md">
            <select id="espece" name="espece" class="form-select form-select-lg my-3" onchange="window.location.href=this.value">
                {% if espece %}
                    <option value="/">Aucune espece</option>
                    <option selected value="{{ espece.get_absolute_url }}">{{ espece.nom }}</option>
                {% else %}
                    <option selected value=>Espece</option>
                {% endif %}
                {% for esp in especes %}
                    <option value="{{ esp.get_absolute_url }}">{{ esp.nom }}</option>
                {% endfor %}
            </select>
        </div>
        {% if espece %}
        <div class="col-md">
                <select id="variete" name="variete" class="form-select form-select-lg my-3" onchange="if (this.value) window.location.href=this.value">
                {% if variete %}
                    <option value="{{ espece.get_absolute_url }}">Aucune variete</option>
                    <option selected value="/{{ espece.slug }}/{{ variete.slug }}/">{{ variete.nom }}</option>
                {% else %}
                    <option selected value=>Variete</option>
                {% endif %}
                {% for variete in varietes %}
                    <option value="/{{ espece.slug }}/{{ variete.slug }}/">{{ variete.nom }}</option>
                {% endfor %}
                </select>
        </div>
      </div>
        {% endif %}
        <div class="row g-2">
        {% if variete %}
            <div class="col-md">
                    <select id="portegreffe" name="portegreffe" class="form-select form-select-lg my-3" onchange="if (this.value) window.location.href=this.value">
                    {% if portegreffe %}
                        <option value="/{{ espece.slug }}/{{ variete.slug }}/">Aucun porte greffe</option>
                        <option selected value="/{{ espece.slug }}/{{ variete.slug }}/{{ portegreffe.slug }}/">{{ portegreffe.nom }}</option>
                    {% else %}
                        <option selected value=>Porte Greffe</option>
                    {% endif %}
                    {% for portegreffe in portegreffes %}
                        <option value="/{{ espece.slug }}/{{ variete.slug }}/{{ portegreffe.slug }}/">{{ portegreffe.nom }}</option>
                    {% endfor %}
                    </select>
            </div>
        {% endif %}
        {% if portegreffe %}
        <div class="col-md">
                <select id="spec" name="spec" class="form-select form-select-lg my-3" onchange="if (this.value) window.location.href=this.value">
                {% if spec %}
                    <option value="/{{ espece.slug }}/{{ variete.slug }}/{{ portegreffe.slug }}/">Aucun porte greffe</option>
                    <option selected value="/{{ espece.slug }}/{{ variete.slug }}/{{ portegreffe.slug }}/{{ spec.slug }}/">{{ spec.nom }}</option>
                {% else %}
                    <option selected value=>Specialité</option>
                {% endif %}
                {% for spec in specs %}
                    <option value="/{{ espece.slug }}/{{ variete.slug }}/{{ portegreffe.slug }}/{{ spec.slug }}/">{{ spec.nom }}</option>
                {% endfor %}
                </select>
        </div>
        {% endif %}
      </div>
    </form>
</div>