{% load static %}
{% load i18n %}

{% block content %}
    <div class="modal fade" id="bulkPriceModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form method="POST" id="bulkPriceForm" action="{% url 'onlineshop:bulk_price_update' %}">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Mise à jour des prix</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>


                    <div class="modal-body" id="modalStep1">
                        {% for field in form_price %}
                        <div class="mb-3">
                            <label for="price">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-success" id="confirmUpdate">Confirmer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

    <!-- Select2 JS -->
    <script src="{%  static 'js/select2.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#id_espece').select2({
                dropdownParent: $('#bulkPriceModal')
            });
        });
    </script>
{% endblock %}